<!-- templates/tasks.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist-app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="fixed-list">
        <table> 
            <tr> 
              <th>Task</th> 
            </tr>
            {% for task in tasks %}
            <tr>
                <td>
                    <input type="checkbox" id="task_{{ loop.index }}" name="task_to_do" {% if task[2] == 1 %}checked{% endif %}>
                    <label for="task_{{ loop.index }}">{{ task[1] }}</label>
                </td>
            </tr>
            {% endfor %}
        </table>

	<button class="delete-btn" type ="button">Delete!</button>

    </div>

    <div class="fixed-calender">
        <header>Future Calendar Position</header>
    </div>

</body>
</html>
