<!DOCTYPE html>
<html>

<head>
    <title>ToDo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body data-bs-theme="dark" class="container">
    <div class="">
    <div class="col">
        <div class="container mt-5">
            <button class="btn btn-primary" id="changeView">Week View</button>
            <h2 class="mb-3">Calendar</h2>         
            <div class="collapse hide" id="Weekly-View">
                <div class="card card-body">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                                <th>Sunday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {% for task in days_dict['Monday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for task in days_dict['Tuesday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for task in days_dict['Wednesday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for task in days_dict['Thursday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for task in days_dict['Friday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for task in days_dict['Saturday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for task in days_dict['Sunday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse show" id="Monthly-View">
                <div class="card card-body">
                    <div class="row">
                        <div class="col">
                          <h2 id="monthName"></h2>
                        </div>
                      </div>
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Sunday</th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>                                
                            </tr>
                        </thead>
                        <tbody id="month">                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class=" container">  
            <div class="container">
                <h1>Tasks</h1>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addTaskModal">Add Task</button>
                <button class="btn btn-primary bi-calendar-check" data-bs-toggle="modal" data-bs-target="#nextSchedule"></button>
                <button class="btn btn-success bi-clock" data-bs-toggle="modal" data-bs-target="#scheduleTime"></button>

                <!--Display tomorrows to do list items-->
                <div class="modal fade" id="nextSchedule"  role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Tomorrows Tasks</h5>
                        </div>
                        {% for task in next_tasks %}
                        <div class="modal-body">
                            {{ task.name }}
                            {% if task.date %}
                                <span class="ms-3 text-secondary fs-6">{{ task.date }}</span>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="modal-footer">
                            <button id="close-schedule" type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>

                <!--Choose time to get next days schedule notification-->
                <div class="modal fade" id="scheduleTime"  role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Select Time to Recieve Tomorrows Tasks</h5>
                          </div>
                          <div class="modal-body">
                              <input type="time" value="00:00:00" step="1" id="theSelectedTime">
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-success" onClick="setTheTime()" data-bs-dismiss="modal">Confirm</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                </div>
                  
                <!--Display task list-->
                <ul class="list-group mb-3">
                    {% for task in active_tasks %}
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
                                    <form method="POST" action="{{ url_for('complete_task', id=task.id) }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <!--  CSRF token -->
                                        <button type="submit" class="btn btn-outline-success btn-sm ms-2"
                                            onmouseover="changeIcon(this)" onmouseout="resetIcon(this)"> <i
                                                class="bi bi-circle"></i> </button>
                                    </form>
                                </div>
                                <div class="col">
                                    {{ task.name }}
                                    {% if task.date %}
                                    <span class="ms-3 text-secondary fs-6">{{ task.date }}</span>
                                    {% endif %}

                                    <button class="btn btn-danger btn-sm float-end ms-2" data-bs-toggle="modal"
                                        data-bs-target="#deleteTaskModal-{{ task.id }}"><i
                                            class="bi bi-trash3-fill"></i></button>
                                    <button class="btn btn-primary btn-sm float-end" data-bs-toggle="modal"
                                        data-bs-target="#editTaskModal-{{ task.id }}"><i
                                            class="bi bi-pencil-square"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

            </div>


            <!-- completed Tasks -->
            <div class="container">
                <h2 class="fs-4">Completed Tasks</h2>
                <ul class="list-group mb-3">
                    {% for task in completed_tasks %}
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    {{ task.name }}
                                    {% if task.date %}
                                    <span class="ms-3 text-secondary fs-6">{{ task.date }}</span>
                                    {% endif %}
                                    <button class="btn btn-danger btn-sm float-end" data-bs-toggle="modal"
                                        data-bs-target="#deleteCompletedTaskModal-{{ task.id }}"><i
                                            class="bi bi-trash3-fill"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- delete task modal for completed tsk -->
                    <div class="modal fade" id="deleteCompletedTaskModal-{{ task.id }}" tabindex="-1"
                        aria-labelledby="deleteCompletedTaskModalLabel-{{ task.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteCompletedTaskModalLabel-{{ task.id }}">Are you
                                        sure?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{{ url_for('delete', id=task.id) }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <!-- Include CSRF token -->
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
    <!-- add task modal -->
    <div class="modal" id="addTaskModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('index') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- Include CSRF token -->
                        {{ form.hidden_tag() }}
                        {{ form.name.label }} {{ form.name(class='form-control') }}
                        {{ form.date.label }} {{ form.date(class='form-control') }}
                        <button type="submit" class="btn btn-success">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- edit modal -->
    {% for task in active_tasks %}
    <div class="modal fade" id="editTaskModal-{{ task.id }}" tabindex="-1"
        aria-labelledby="editTaskModalLabel-{{ task.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskModalLabel-{{ task.id }}">Edit Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('edit', id=task.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <!-- CSRF token for security -->
                        <div class="mb-3">
                            <label for="taskName-{{ task.id }}" class="form-label">Task Name</label>
                            <input type="text" class="form-control" id="taskName-{{ task.id }}" name="name"
                                value="{{ task.name }}">
                        </div>
                        <div class="mb-3">
                            <label for="taskDate-{{ task.id }}" class="form-label">Date</label>
                            <input type="date" class="form-control" id="taskDate-{{ task.id }}" name="date"
                                value="{{ task.date}}">
                        </div>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- delete modal -->
    {% for task in active_tasks %}
    <div class="modal" id="deleteTaskModal-{{ task.id }}" tabindex="-1"
        aria-labelledby="deleteTaskModalLabel-{{ task.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTaskModalLabel-{{ task.id }}">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('delete', id=task.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- Include CSRF token -->
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!--Set the time to get the notification for tomorrows schedule. Includes a notification chime using Web Audio API-->
    <audio  id="myChime" src="../static/chime.mp3" type="audio/mpeg"></audio>
    <script>
        var theTime;
        
        if(localStorage.getItem('chosenTime') != null) {
            theTime = window.localStorage.getItem('chosenTime');
            $('#theSelectedTime').val(theTime);
        }

        function setTheTime() {
            theTime = document.getElementById('theSelectedTime').value;
            localStorage.setItem('chosenTime', theTime);
            $('#theSelectedTime').val(theTime);
        }

        setInterval(function () {
            var currDate = new Date();
            var currHours = currDate.getHours().toString().padStart(2, '0');
            var currMinutes = currDate.getMinutes().toString().padStart(2, '0');
            var currSeconds = currDate.getSeconds().toString().padStart(2, '0');
            var currTime = currHours + ":" + currMinutes + ":" + currSeconds;
            
            if(theTime == currTime) {
                $('#nextSchedule').modal('show');
                chime();
            }
        });

        function chime() {
            const audio = document.getElementById("myChime");
            audio.play();
        }
    </script>

    <script>
        function changeIcon(button) {
            button.getElementsByTagName('i')[0].className = 'bi bi-check-circle';
        }
        function resetIcon(button) {
            button.getElementsByTagName('i')[0].className = 'bi bi-circle';
        }
    </script>

    <!--Weekly/Monthly view toggle button-->
    <script>
        var togglebutton = document.getElementById("changeView");
        var weeklyWiew = document.getElementById("Weekly-View");
        var monthlyView = document.getElementById("Monthly-View");

        var weekly = new bootstrap.Collapse(weeklyWiew)
        var monthly = new bootstrap.Collapse(monthlyView)

        togglebutton.addEventListener("click", function(event) {
            if (event.target === togglebutton) {
                weekly.toggle();
                monthly.toggle();
                // Change the button test based on view selected.
                if(togglebutton.textContent == "Week View") {
                    togglebutton.textContent = "Month View";
                }else if(togglebutton.textContent == "Month View"){
                    togglebutton.textContent = "Week View";
                }
            }
        });
    </script>

    <!--Create the monthly view-->
    <script>
        // Generate the days of the month
        function getMonth(year, month) {
            var calMonth = document.getElementById("month");
            var monthName = document.getElementById("monthName");
            var daysInMonth = new Date(year, month + 1, 0).getDate();
            var startOfWeek = new Date(year, month, 1).getDay();
            var dayIndex = startOfWeek
            var odd = false
            var currentDay = 1;
            var tempMonth = month + 1   
            var strMonth     
            var active_data = JSON.parse('{{ active_tasks|tojson|safe }}');
            console.log(active_data);

            // Clear out the month
            calMonth.innerHTML = "";

            var months = [
                "January", "February", "March", "April", "May", "June", "July",
                "August", "September", "October", "November", "December"];

            monthName.textContent = months[month] + " " + year;

            // format the month value to match the DB date format
            if(tempMonth < 10){
                strMonth = "0" + tempMonth.toString()
            }else{
                strMonth = tempMonth.toString()
            }

            // Generate the days of the month
            for (var i = 0; i < 5; i++) {
                var row = document.createElement("tr");
                for(var j = 0; j < 7; j++) {
                    var cell = document.createElement("td");
                    var day = document.createElement("tr");
                    
                    if(i == 0 && j < startOfWeek) {
                        cell.textContent = "";                        
                    }else if(currentDay > daysInMonth) {
                        cell.textContent = "";
                    }else {
                        day.style.position = "relative";
                        day.style.textAlign = "left";
                        day.textContent = currentDay;
                        cell.appendChild(day);                        
                        cell.style.width = "175px";
                        cell.style.height = "175px";
                        // Add the task item to the day if date matches
                        for(var k = 0; k < active_data.length; k++) {
                            var item = document.createElement("tr");
                            var task = active_data[k];
                            if(task['date'] ==  year.toString() + "-" + strMonth + "-" + currentDay.toString()) {                               
                                item.textContent = task['name'];
                                item.textAlign = "center";
                                if(odd){
                                    item.style.color = "mediumturquoise";
                                    odd = false;
                                }else{
                                    item.style.color = "coral";
                                    odd = true;
                                }
                                cell.appendChild(item);                                                           
                            }
                        }
                        currentDay++;
                        dayIndex++;
                    }
                    row.appendChild(cell);
                }
                calMonth.appendChild(row);
            }
        };
        var today = new Date();
        var presentYear = today.getFullYear();
        var presentMonth = today.getMonth();
        
        getMonth(presentYear, presentMonth);
    </script>

</body>

</html>