<!DOCTYPE html>
<html>

<head>
    <title>ToDo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body data-bs-theme="dark" class="container">
    <div class="">
    <div class="col">
        <div class="container mt-5">
            <button class="btn btn-primary" id="changeView">Show Monthly View</button>            
            <h2 class="mb-3">Calendar</h2>                  
            <div class="collapse hide" id="Weekly-View">
                <div class="card card-body">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                                <th>Sunday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {% for task in days_dict['Monday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for task in days_dict['Tuesday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for task in days_dict['Wednesday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for task in days_dict['Thursday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for task in days_dict['Friday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for task in days_dict['Saturday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for task in days_dict['Sunday'] %}
                                        <div>{{ task.name }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse show" id="Monthly-View">
                <div class="card card-body">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-info" id="priorMonth"></button>
                            <button class="btn btn-info" id="nextMonth"></button> 
                            <button class="btn btn-info" id="Jan">January</button>                        
                            <button class="btn btn-info" id="Feb">February</button> 
                            <button class="btn btn-info" id="Mar">March</button>
                            <button class="btn btn-info" id="Apr">April</button>
                            <button class="btn btn-info" id="May">May</button>
                            <button class="btn btn-info" id="Jun">June</button>
                            <button class="btn btn-info" id="Jul">July</button>
                            <button class="btn btn-info" id="Aug">August</button>
                            <button class="btn btn-info" id="Sep">September</button>
                            <button class="btn btn-info" id="Oct">October</button>
                            <button class="btn btn-info" id="Nov">November</button>
                            <button class="btn btn-info" id="Dec">December</button>
                            <h2 id="monthName"></h2>
                        </div>
                      </div>
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Sunday</th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>                                
                            </tr>
                        </thead>
                        <tbody id="month">                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class=" container">


            <div class="container">
                <h1>Tasks</h1>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addTaskModal">Add Task</button>
                <ul class="list-group mb-3">
                    {% for task in active_tasks %}
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
                                    <form method="POST" action="{{ url_for('complete_task', id=task.id) }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <!--  CSRF token -->
                                        <button type="submit" class="btn btn-outline-success btn-sm ms-2"
                                            onmouseover="changeIcon(this)" onmouseout="resetIcon(this)"> <i
                                                class="bi bi-circle"></i> </button>
                                    </form>
                                </div>
                                <div class="col">
                                    {{ task.name }}
                                    {% if task.date %}
                                    <span class="ms-3 text-secondary fs-6">{{ task.date }}</span>
                                    {% endif %}

                                    <button class="btn btn-danger btn-sm float-end ms-2" data-bs-toggle="modal"
                                        data-bs-target="#deleteTaskModal-{{ task.id }}"><i
                                            class="bi bi-trash3-fill"></i></button>
                                    <button class="btn btn-primary btn-sm float-end" data-bs-toggle="modal"
                                        data-bs-target="#editTaskModal-{{ task.id }}"><i
                                            class="bi bi-pencil-square"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

            </div>


            <!-- completed Tasks -->
            <div class="container">
                <h2 class="fs-4">Completed Tasks</h2>
                <ul class="list-group mb-3">
                    {% for task in completed_tasks %}
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    {{ task.name }}
                                    {% if task.date %}
                                    <span class="ms-3 text-secondary fs-6">{{ task.date }}</span>
                                    {% endif %}
                                    <button class="btn btn-danger btn-sm float-end" data-bs-toggle="modal"
                                        data-bs-target="#deleteCompletedTaskModal-{{ task.id }}"><i
                                            class="bi bi-trash3-fill"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- delete task modal for completed tsk -->
                    <div class="modal fade" id="deleteCompletedTaskModal-{{ task.id }}" tabindex="-1"
                        aria-labelledby="deleteCompletedTaskModalLabel-{{ task.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteCompletedTaskModalLabel-{{ task.id }}">Are you
                                        sure?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{{ url_for('delete', id=task.id) }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <!-- Include CSRF token -->
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
    <!-- add task modal -->
    <div class="modal" id="addTaskModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('index') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- Include CSRF token -->
                        {{ form.hidden_tag() }}
                        {{ form.name.label }} {{ form.name(class='form-control') }}
                        {{ form.date.label }} {{ form.date(class='form-control') }}
                        <button type="submit" class="btn btn-success">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- edit modal -->
    {% for task in active_tasks %}
    <div class="modal fade" id="editTaskModal-{{ task.id }}" tabindex="-1"
        aria-labelledby="editTaskModalLabel-{{ task.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskModalLabel-{{ task.id }}">Edit Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('edit', id=task.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <!-- CSRF token for security -->
                        <div class="mb-3">
                            <label for="taskName-{{ task.id }}" class="form-label">Task Name</label>
                            <input type="text" class="form-control" id="taskName-{{ task.id }}" name="name"
                                value="{{ task.name }}">
                        </div>
                        <div class="mb-3">
                            <label for="taskDate-{{ task.id }}" class="form-label">Date</label>
                            <input type="date" class="form-control" id="taskDate-{{ task.id }}" name="date"
                                value="{{ task.date}}">
                        </div>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- delete modal -->
    {% for task in active_tasks %}
    <div class="modal" id="deleteTaskModal-{{ task.id }}" tabindex="-1"
        aria-labelledby="deleteTaskModalLabel-{{ task.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTaskModalLabel-{{ task.id }}">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('delete', id=task.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- Include CSRF token -->
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script>
        function changeIcon(button) {
            button.getElementsByTagName('i')[0].className = 'bi bi-check-circle';
        }
        function resetIcon(button) {
            button.getElementsByTagName('i')[0].className = 'bi bi-circle';
        }
    </script>

    <!--Weekly/Monthly view toggle button-->
    <script>
        var togglebutton = document.getElementById("changeView");
        var weeklyWiew = document.getElementById("Weekly-View");
        var monthlyView = document.getElementById("Monthly-View");

        var weekly = new bootstrap.Collapse(weeklyWiew)
        var monthly = new bootstrap.Collapse(monthlyView)

        togglebutton.addEventListener("click", function(event) {
            if (event.target === togglebutton) {
                weekly.toggle();
                monthly.toggle();
                // Change the button test based on view selected.
                if(togglebutton.textContent == "Show Monthly View") {
                    togglebutton.textContent = "Show Weekly View";
                }else if(togglebutton.textContent == "Show Monthly View"){
                    togglebutton.textContent = "Show Weekly View";
                }
            }
        });
    </script>

    <!--Create the monthly view-->
    <script>
        // Generate the days of the month
        function getMonth(year, month) {
            var calMonth = document.getElementById("month");
            var monthName = document.getElementById("monthName");
            var daysInMonth = new Date(year, month + 1, 0).getDate();
            var priorMonthDays = new Date(year, month, 0).getDate();
            var startOfWeek = new Date(year, month, 1).getDay();
            var odd = true;
            var nextMonthDay = 1;
            var currentDay = 1;
            var strDay;
            var tempMonth = month + 1   
            var strMonth;   
            var active_data = JSON.parse('{{ active_tasks|tojson|safe }}');
            console.log(active_data);

            // Clear out the month
            calMonth.innerHTML = "";

            const months = [
                "January", "February", "March", "April", "May", "June", "July",
                "August", "September", "October", "November", "December"];

            monthName.textContent = months[month] + " " + year;

            // Format the month value to match the DB date format
            if(tempMonth < 10){
                strMonth = "0" + tempMonth.toString();
            }else{
                strMonth = tempMonth.toString();
            }            

            // Generate the days of the month
            for (var i = 0; i < 6; i++) {
                var row = document.createElement("tr");
                for(var j = 0; j < 7; j++) {
                    var cell = document.createElement("td");
                    var day = document.createElement("tr");
                    
                    // Format the day to match the DB
                    if(currentDay < 10){
                            strDay = "0"  + currentDay.toString();
                    }else{
                        strDay = currentDay.toString();
                    }

                    if(i == 0 && j < startOfWeek) {
                        day.style.position = "relative";
                        day.style.textAlign = "left";
                        day.style.color = "mediumvioletred";
                        day.textContent = priorMonthDays - (startOfWeek - j - 1);
                        cell.appendChild(day);                        
                        cell.style.width = "175px";
                        cell.style.height = "175px";                      
                    }else if(currentDay > daysInMonth) {
                        day.style.position = "relative";
                        day.style.textAlign = "left";
                        day.style.color = "mediumvioletred";
                        day.textContent = nextMonthDay++;
                        cell.appendChild(day);                        
                        cell.style.width = "175px";
                        cell.style.height = "175px";
                    }else {
                        day.style.position = "relative";
                        day.style.textAlign = "left";
                        day.textContent = currentDay;
                        cell.appendChild(day);                        
                        cell.style.width = "175px";
                        cell.style.height = "175px";

                        // Add the task item to the day if date matches
                        for(var k = 0; k < active_data.length; k++) {
                            var item = document.createElement("tr");                            
                            var task = active_data[k];
                            if(task['date'] ==  year.toString() + "-" + strMonth + "-" + strDay) {                               
                                item.textContent = task['name'];
                                item.textAlign = "center";
                                if(odd){
                                    item.style.color = "mediumturquoise";
                                    odd = false;
                                }else{
                                    item.style.color = "coral";
                                    odd = true;
                                }
                                cell.appendChild(item);                                                           
                            }
                        }
                        currentDay++;
                        
                    }
                    row.appendChild(cell);
                }
                calMonth.appendChild(row);
            }
        }
        var today = new Date();
        var presentYear = today.getFullYear();
        var presentMonth = today.getMonth();
        
        getMonth(presentYear, presentMonth);
    </script>

     <!--Prior month, next month, and individual month toggle buttons-->
     <script>
        const monthMap = new Map([
                    ["January",0], ["February",1], ["March",2], ["April",3], ["May",4], ["June",5], ["July",6],
                    ["August",7], ["September",8], ["October",9], ["November",10], ["December",11]]);
            
        const monthList = ["January", "February", "March", "April", "May", "June", "July",
                    "August", "September", "October", "November", "December"];

        var priorButton = document.getElementById("priorMonth");
        var nextButton = document.getElementById("nextMonth");
        var currentMonth = document.getElementById("monthName");
        var monthYear = currentMonth.textContent.split(" ");
        var yearToGet = Number(monthYear[1]);
        var nextMonth;
        var priorMonth;
        // Set the next month variables for default load.
        if(monthMap.get(monthYear[0]) == 11){
            nextMonth = 0;
            priorMonth = 10;
        }else if(monthMap.get(monthYear[0]) == 0){
            nextMonth = 1;
            priorMonth = 11;
        }else{
            nextMonth = monthMap.get(monthYear[0]) + 1;
            priorMonth = monthMap.get(monthYear[0]) - 1;
        }

        nextButton.textContent = monthList[nextMonth];
        priorButton.textContent = monthList[priorMonth];

        // Set the variables for instances when the prior month is selected.
        priorButton.addEventListener("click", function(event) {          
            if (event.target === priorButton) {
                if(monthMap.get(monthYear[0]) == 0 && yearToGet == Number(monthYear[1])){
                    yearToGet -= 1;
                }
                getMonth(yearToGet, priorMonth);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            if(monthMap.get(monthYear[0]) == 11){
                nextMonth = 0;
                priorMonth = 10;
            }else if(monthMap.get(monthYear[0]) == 0){
                nextMonth = 1;
                priorMonth = 11;
            }else{
                nextMonth = monthMap.get(monthYear[0]) + 1;
                priorMonth = monthMap.get(monthYear[0]) - 1;
            }

            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        // Set the variables for the instances when the next month is selected.
        nextButton.addEventListener("click", function(event) {          
            if (event.target === nextButton) {
                if(monthMap.get(monthYear[0]) == 11 && yearToGet == Number(monthYear[1])){
                    yearToGet += 1;
                }
                getMonth(yearToGet, nextMonth);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            if(monthMap.get(monthYear[0]) == 11){
                nextMonth = 0;
                priorMonth = 10;
            }else if(monthMap.get(monthYear[0]) == 0){
                nextMonth = 1;
                priorMonth = 11;
                
            }else{
                nextMonth = monthMap.get(monthYear[0]) + 1;
                priorMonth = monthMap.get(monthYear[0]) - 1;
            }

            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        // Set the individual month buttons.
        var JanButton = document.getElementById("Jan");
        var FebButton = document.getElementById("Feb");
        var MarButton = document.getElementById("Mar");
        var AprButton = document.getElementById("Apr");
        var MayButton = document.getElementById("May");
        var JunButton = document.getElementById("Jun");
        var JulButton = document.getElementById("Jul");
        var AugButton = document.getElementById("Aug");
        var SepButton = document.getElementById("Sep");
        var OctButton = document.getElementById("Oct");
        var NovButton = document.getElementById("Nov");
        var DecButton = document.getElementById("Dec");

        JanButton.addEventListener("click", function(event) {
            if(event.target === JanButton) {
                getMonth(yearToGet, 0);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            nextMonth = 1;
            priorMonth = 11;
            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        FebButton.addEventListener("click", function(event){
            if(event.target === FebButton) {
                getMonth(yearToGet, 1);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            nextMonth = 2;
            priorMonth = 0;
            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        MarButton.addEventListener("click", function(event){
            if(event.target === MarButton) {
                getMonth(yearToGet, 2);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            nextMonth = 3;
            priorMonth = 1;
            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        AprButton.addEventListener("click", function(event){
            if(event.target === AprButton) {
                getMonth(yearToGet, 3);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            nextMonth = 4;
            priorMonth = 2;
            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        MayButton.addEventListener("click", function(event){
            if(event.target === MayButton) {
                getMonth(yearToGet, 4);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            nextMonth = 5;
            priorMonth = 3;
            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        JunButton.addEventListener("click", function(event){
            if(event.target === JunButton) {
                getMonth(yearToGet, 5);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            nextMonth = 6;
            priorMonth = 4;
            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        JulButton.addEventListener("click", function(event){
            if(event.target === JulButton) {
                getMonth(yearToGet, 6);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            nextMonth = 7;
            priorMonth = 5;
            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        AugButton.addEventListener("click", function(event){
            if(event.target === AugButton) {
                getMonth(yearToGet, 7);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            nextMonth = 8;
            priorMonth = 6;
            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        SepButton.addEventListener("click", function(event){
            if(event.target === SepButton) {
                getMonth(yearToGet, 8);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            nextMonth = 9;
            priorMonth = 7;
            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        OctButton.addEventListener("click", function(event){
            if(event.target === OctButton) {
                getMonth(yearToGet, 9);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            nextMonth = 10;
            priorMonth = 8;
            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        NovButton.addEventListener("click", function(event){
            if(event.target === NovButton) {
                getMonth(yearToGet, 10);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            nextMonth = 11;
            priorMonth = 9;
            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });

        DecButton.addEventListener("click", function(event){
            if(event.target === DecButton) {
                getMonth(yearToGet, 11);
            }
            currentMonth = document.getElementById("monthName");
            monthYear = currentMonth.textContent.split(" ");
            yearToGet = Number(monthYear[1]);
            nextMonth = 0;
            priorMonth = 10;
            nextButton.textContent = monthList[nextMonth];
            priorButton.textContent = monthList[priorMonth];
        });
    </Script>

</body>

</html>